@page
@model AP.Platform.Pages.ForgotPasswordModel
@{
    Layout = null;
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Web
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot password</title>
</head>
<body>
    <h3>@Model.Message</h3>
    <form method="post" action="/auth/forgot-password">
        <div>
            <p>
                <label class="nav-link text-dark display-6" asp-area=""
                       for="email">Forgot your password? Enter your email and we will send a message to reset your password</label>
            </p>
            @if (!string.IsNullOrEmpty(Model.Error))
            {
                <p>
                    <label class="nav-link display-6" style="color:red;" asp-area=""
                           for="email">Error: @Model.Error</label>
                </p>
            }
            <p>
                <label class="nav-link text-dark display-6" asp-area="" for="email">email</label>
                @Html.TextBox("email", Model.Email, new { type = "email", placeholder = "name@host.com", @id = "email" })
            </p>
        </div>
        <div>
            <input type="submit" value="Reset my password" />
        </div>
    </form>
    <div>
        <p>
            <label class="nav-link text-dark display-6" asp-area="" for="cancel">Go back?</label>
            <a id="cancel" class="nav-link text-dark display-6" asp-area=""
               href="/auth/login?email=@Model.Email?.Replace("+","%2B")&external=false">Cancel</a>
        </p>
    </div>
</body>
</html>