#swagger-ui img[alt="Swagger UI"] {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.swagger-ui .topbar {
  background-color: rgb(8 45 85);
}
